snippet template "Basic template" b
from typing import List

class Solution:

	@classmethod
	def solve(cls, param):
		pass

if __name__ == "__main__":
	(a,b) = input().split(" ")
	result = Solution.solve(a,b)
	print(result)
endsnippet

